on boot
	# /vendor/etc/init/hw/init.sdm845.rc sets this to lz4 early, set it back to zstd
	write /sys/block/zram0/comp_algorithm zstd

	# Set SQLite flags for F2FS because some DBs might be opened early
	setprop debug.sqlite.journalmode OFF
	setprop debug.sqlite.syncmode OFF

	# USB mass storage
	mkdir /config/usb_gadget/g1/functions/mass_storage.0

on property:sys.boot_completed=1
	# Profiles
	setprop fku.profiles 1
	setprop spectrum.support 1
	setprop persist.spectrum.kernel Proton

	# First boot defaults
	exec u:r:magisk:s0 root root -- /init.proton.sh


# Profiles
on property:persist.proton.profile=battery
	setprop proton.big_max 1056000
	setprop proton.little_max 1516800
	setprop proton.big_boost 0
	setprop proton.little_boost 979200
	setprop proton.boost_duration 64
	setprop proton.cpu_governor schedutil
	setprop proton.gpu_governor msm-adreno-tz

on property:persist.proton.profile=balanced
	setprop proton.big_max 2649600
	setprop proton.little_max 1766400
	setprop proton.big_boost 902400
	setprop proton.little_boost 1056000
	setprop proton.boost_duration 100
	setprop proton.cpu_governor schedutil
	setprop proton.gpu_governor msm-adreno-tz

on property:persist.proton.profile=performance
	setprop proton.big_max 2803200
	setprop proton.little_max 1766400
	setprop proton.big_boost 1363200
	setprop proton.little_boost 1516800
	setprop proton.boost_duration 140
	setprop proton.cpu_governor schedutil
	setprop proton.gpu_governor msm-adreno-tz


# Profile engine
# Sets the maximum frequency of the big CPU cluster
on property:proton.big_max=*
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq ${proton.big_max}

# Sets the maximum frequency of the little CPU cluster
on property:proton.little_max=*
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq ${proton.little_max}

# Sets the input boost frequency of the little CPU cluster
on property:proton.little_boost=*
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp ${proton.little_boost}

# Sets the input boost frequency of the big CPU cluster
on property:proton.big_boost=*
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp ${proton.big_boost}

# Sets the length of an input boost
on property:proton.boost_duration=*
	write /sys/module/cpu_input_boost/parameters/input_boost_duration ${proton.boost_duration}

# Sets the frequency governor of both CPU clusters
on property:proton.cpu_governor=*
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ${proton.cpu_governor}
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor ${proton.cpu_governor}

# Sets the frequency governor of the GPU
on property:proton.gpu_governor=*
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor ${proton.cpu_governor}


# Profile bridges: Franco Kernel Manager
# Update the Spectrum profile, that'll be our primary set
on property:fku.perf.profile=0
	setprop persist.spectrum.profile 2

on property:fku.perf.profile=1
	setprop persist.spectrum.profile 0

on property:fku.perf.profile=2
	setprop persist.spectrum.profile 1


# Profile bridges: Spectrum
# Balanced
on property:persist.spectrum.profile=0
	setprop persist.proton.profile balanced

# Performance
on property:persist.spectrum.profile=1
	setprop persist.proton.profile performance

# Battery
on property:persist.spectrum.profile=2
	setprop persist.proton.profile battery

# Gaming
on property:persist.spectrum.profile=3
	setprop persist.proton.profile performance


# USB mass storage support
on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
	write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "msc"
	symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
	write /config/usb_gadget/g1/UDC ${sys.usb.controller}
	setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
	start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
	write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb_msc"
	symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
	symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
	write /config/usb_gadget/g1/UDC ${sys.usb.controller}
	setprop sys.usb.state ${sys.usb.config}


# rm /config/usb_gadget/g1/configs/b.1/function0
# ln -s /config/usb_gadget/g1/functions/mass_storage.0 function0
# echo msc > /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration
# echo a600000.dwc3 > /config/usb_gadget/g1/UDC
